# 本地 Demo 站点
localhost {
	# 开启静态文件服务
	file_server

	# 压缩传输
	encode gzip

	# 简易日志记录
	log
}

# auto tls
# localhost:8080 {}

# disable auto-tls
#http://localhost:8080 {
#}

# 反向代理示例（将请求转发到本地其他服务）
# localhost:8081 {
#    reverse_proxy 127.0.0.1:3000
# }
